<div class="row message"

  ng-class="{
  read:$ctrl.msg.read,
  selected: $ctrl.msg.selected
}">
  <div class="col-xs-1">
    <div class="row">
      <div class="col-xs-2">
        <input type="checkbox"
        ng-model="selected"
        ng-click="$ctrl.selectMessages(selected, $ctrl.msg)"
        ng-checked=$ctrl.msg.selected>
      </input>
      </div>

      <div class="col-xs-2">
        <i
        ng-click="$ctrl.toggleStar($ctrl.msg)"
        ng-class="{
        'fa fa-star': $ctrl.msg.starred ,
        'fa fa-star-o': !$ctrl.msg.starred
        }"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-11">

    <span class="label label-warning"
    ng-repeat="label in $ctrl.msg.labels">{{label}}</span>
    <a href="#">
      {{$ctrl.message.subject}}
    </a>
  </div>
</div>

<div class="row message-body">
  <div class="col-xs-11 col-xs-offset-1">
    This is the body of the message.
  </div>
</div>
